* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.tweet-area,
.profile-input,
.login-input {
  background-color: #15202b;
}

body {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  display: none;
}

/* Nav */

nav {
  width: 75%;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  min-height: 8.5vh;
  background-color: #343a40;
  color: white;
}

nav ul,
nav ul div {
  display: flex;
  list-style: none;
}

nav ul {
  width: 100%;
  /* justify-content: space-between; */
}

nav ul li {
  margin-left: 42px;
}

.nav-link {
  color: #6c757d;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: white;
}

/* .login-link { */
/* margin-right: 42px; */
/* } */

/* Main */

.main {
  width: 42%;
  margin: auto;
  position: relative;
}

.sign-out {
  color: #343a40;
  width: 80px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid white;
  position: absolute;
  transition: 0.2s;
  top: 13px;
  right: 235px;
}

.sign-out:hover {
  background-color: #343a40;
  border: none;
  cursor: pointer;
  color: white;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 333px;
  top: 6px;
  border: 2px solid #007bff;
  transition: 0.2s;
}

.profile-image:hover {
  border: 2px solid #787a91;
}

.nickname {
  position: relative;
  word-wrap: break-word;
  left: 550px;
}

/* Form */

.tweet-area,
.profile-input,
.login-input {
  width: 100%;
  margin-top: 5px;
  border: 2px solid #cccccc;
  border-radius: 6px;
  color: #cccccc;
  resize: none;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 12px;
}

.tweet-area {
  margin-bottom: 35px;
}

.tweet-area::placeholder {
  color: #cccccc;
}

form p {
  display: inline-block;
  position: absolute;
  left: 13px;
  top: 143px;
  color: #721c24;
  background-color: #f8d7da;
  padding: 6px;
  border-radius: 4px;
  margin: 0;
}

.tweet-btn,
.profile-btn,
.login-btn {
  background-color: #007bff;
  color: white;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  border: none;
  position: absolute;
  transition: 0.2s;
  top: 140px;
  right: 10px;
}

.tweet-btn:hover,
.profile-btn:hover,
.login-btn:hover {
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  color: #007bff;
}

.tweet-btn:disabled,
.profile-btn:disabled {
  background-color: #b2b1b9;
}

.tweet-btn:disabled:hover,
.profile-btn:disabled:hover {
  background-color: #b2b1b9;
  color: white;
  cursor: default;
  border: none;
}

.in-progress {
  margin-top: 40px;
}

.no-more-tweets {
  font-size: 16px;
  color: white;
  margin-top: 20px;
  margin-left: 35%;
}

/* Tweet */

.tweet-box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  background: #343a40;
  border-radius: 6px;
  padding: 25px;
}

.tweet-box-top {
  display: flex;
  justify-content: space-between;
}

.tweet-box-top span {
  color: #6c757d;
}

.tweet-box p {
  word-break: break-all;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-right: 120px;
  margin-top: 15px;
}

.tweet-username {
  position: relative;
  bottom: 15px;
  left: 8px;
}

.tweet-img {
  right: 3px;
  bottom: 5px;
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

/* Profile / Login */

.profile-header,
.login-header {
  font-size: 36px;
  color: white;
  margin-bottom: 22px;
}

.profile-label,
.login-label {
  display: block;
  color: white;
  margin-bottom: 6px;
}

.profile-input,
.login-input {
  width: 95%;
  padding: 12px 12px;
}

.profile-btn {
  top: 193px;
  right: 32px;
}

.image-label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 17px;
}

.upload-file {
  color: white;
  font-size: 14px;
}

.img-upload-load {
  position: absolute;
  left: 385px;
  top: 298px;
}

.img-uploaded {
  position: absolute;
  font-size: 30px;
  left: 394px;
  top: 293px;
}

.username-approve {
  position: absolute;
  font-size: 30px;
  left: 394px;
  top: 205px;
}

input[type="file"]::file-selector-button {
  background-color: #007bff;
  color: white;
  width: 100px;
  height: 34px;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  color: #007bff;
}

.login-btn {
  top: 237px;
  right: 32px;
}

.login-btn-google {
  color: #343a40;
  position: absolute;
  border: 1px solid white;
  top: 237px;
  right: 110px;
  width: 130px;
  height: 34px;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
}

.register-btn,
.register-btn-google {
  top: 320px;
}

.login-btn-google:hover {
  background-color: #343a40;
  border: none;
  cursor: pointer;
  color: white;
}

.not-a-user {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  transition: 0.2s;
  text-decoration: underline;
}

.not-a-user:hover {
  color: #6c757d;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 80%;
  }
}
