* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.tweet-area,
.profile-input {
  background-color: #15202b;
}

::-webkit-scrollbar {
  display: none;
}

/* Nav */

nav {
  width: 75%;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  min-height: 8.5vh;
  background-color: #343a40;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-left: 42px;
}

.nav-link,
.nav-link-selected {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #6c757d;
}

.nav-link-selected {
  color: #6c757d;
}

.main {
  width: 42%;
  margin: auto;
  position: relative;
}

/* Form */

.tweet-area,
.profile-input {
  width: 100%;
  margin-top: 5px;
  border: 2px solid #cccccc;
  border-radius: 6px;
  color: #cccccc;
  resize: none;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 12px;
}

.tweet-area::placeholder {
  color: #cccccc;
}

form p {
  display: inline-block;
  position: relative;
  left: 15px;
  bottom: 50px;
  color: #721c24;
  background-color: #f8d7da;
  padding: 6px;
  border-radius: 4px;
}

.tweet-btn,
.profile-btn {
  background-color: #007bff;
  color: white;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  border: none;
  position: absolute;
  transition: 0.2s;
  top: 140px;
  right: 10px;
}

.tweet-btn:hover,
.profile-btn:hover {
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  color: #007bff;
}

.tweet-btn:disabled,
.profile-btn:disabled {
  background-color: #b2b1b9;
}

.tweet-btn:disabled:hover,
.profile-btn:disabled:hover {
  background-color: #b2b1b9;
  color: white;
  cursor: default;
  border: none;
}

.in-progress {
  margin-top: 40px;
}

/* Tweet */

.tweet-box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  background: #343a40;
  border-radius: 6px;
  padding: 25px;
}

.tweet-box-top {
  display: flex;
  justify-content: space-between;
}

.tweet-box-top span {
  color: #6c757d;
}

.tweet-box p {
  word-break: break-all;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-right: 120px;
  margin-top: 15px;
}

/* Profile */

.profile-header {
  font-size: 36px;
  color: white;
  margin-bottom: 22px;
}

.label {
  display: block;
  color: white;
  margin-bottom: 6px;
}

.profile-input {
  width: 95%;
  padding: 12px 12px;
}

.profile-btn {
  top: 160px;
  right: 42px;
}
